services:
  app:
    build: .
    container_name: nuxt-app
    ports:
      - '3000:3000'
    environment:
      DATABASE_URL: 'mysql://root:admin123@db:3306/tkpancamanunggal'
    depends_on:
      - db

  db:
    image: mysql:8
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: admin123
      MYSQL_DATABASE: tkpancamanunggal
    ports:
      - '3306:3306'
    volumes:
      - mysql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin-db
    restart: always
    ports:
      - '8080:80'
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: admin123
    depends_on:
      - db

volumes:
  mysql-data:
