# Test Report

## 1. Unit Test Coverage

- Total coverage: 85%
- Detail coverage:
  [coverage/lcov-report/index.html](../coverage/lcov-report/index.html)

## 2. Test Execution Logs

- [logs/test-log.txt](../logs/test-log.txt)

## 3. Code Quality Scan

- SonarCloud:
  [Project dashboard](https://sonarcloud.io/dashboard?id=JustRizky_sim-tkpancamanunggal-nuxt)
