name: CI Pipeline

on:
  push:
    branches:
      - main
      - 'feature/**'
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      NUXT_TELEMETRY_DISABLED: 1
      NUXT_EXPERIMENTAL_OXC: 0

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Prepare Nuxt
        run: npx nuxt prepare

      - name: Run unit test with coverage
        run: npm run test:coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Run npm audit
        run: npm audit --json > audit-report.json || true

      - name: Upload npm audit report
        uses: actions/upload-artifact@v4
        with:
          name: npm-audit-report
          path: audit-report.json

      - name: Build project
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: nuxt-build
          path: .output

      - name: Install Lighthouse CI
        run: |
          npm install -g @lhci/cli

      - name: Start Nuxt server and Lighthouse CI
        run: |
          npm run generate
          npm run start &
          npm lhci:desktop
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}

      - name: Upload Lighthouse results as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lighthouse-results
          path: ./lighthouse-results/
