name: Staging Deployment

on:
  push:
    branches:
      - staging

jobs:
  staging:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (staging)
        run: docker build -t tkpancamanunggal:staging .

      - name: Notify Discord (Success)
        if: success()
        run: |
          curl -H "Content-Type: application/json" \
          -d '{"content":"Staging pipeline SUCCESS"}' \
          ${{ secrets.DISCORD_WEBHOOK }}

      - name: Notify Discord (Failure)
        if: failure()
        run: |
          curl -H "Content-Type: application/json" \
          -d '{"content":"Staging pipeline FAILED"}' \
          ${{ secrets.DISCORD_WEBHOOK }}

      - name: Staging pipeline success
        run: echo "Staging image build success"
